/* Scaffolding */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Scaffolding */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Logo pagina */
.container {
    margin-left: 22px;
    margin-top: 12px;
    padding-bottom: 74px;
}

h1 {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
/* Logo pagina */

/* Buttons di navigazione */
main {
    padding-left: 220px;
}

#task {
    display: inline-block;
    font-size: 11px;
    background-color: #14aaf5;
    color: #ffffff;
    border-radius: 10%;
    font-weight: bold;
    padding: 9px 9px 9px 9px;
}

#section {
    display: inline-block;
    font-size: 11px;
    background-color:#ffffff;
    color: #ced4d8;
    border-radius: 10%;
    font-weight: bold;
    border: 1px solid  #ced4d8;
    padding: 9px 9px 9px 9px;
}

/* Buttons di navigazione*/

/* Sezione task */
h3 {
    padding-top: 44px;
}

.circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #4ccfb8;
    display: inline-block;
}

.tick {
    color: #4ccfb8;
    font-size: 10px;
    padding-left: 4px;
}

.categories {
    padding-top: 19px;
    font-size: 13px;
}

.info {
    display: inline-block;
    width: 56px;
    height: 24px;
    background-color: #09a9ed;
    border-radius: 30%;
}

.editorial {
    color: #ffffff;
    font-size:9px;
    font-weight: bold;
    padding: 9px 11px 9px 11px;
}

/* Sezione task */

/* Sezione today */

.mobile {
    display: inline-block;
    width: 62px;
    height: 24px;
    background-color: #ab5de6;
    border-radius: 30%;
}

#goals {
    color: #ffffff;
    font-size:9px;
    font-weight: bold;
    padding: 9px 11px 9px 11px;
}